:root {
  --primary-text-color: #757575;
  --tittle-text-color: #212121;
  --accent-colour: #2196f3;
  --primary-white-color: #ffffff;
  --color-logo: #000000;
  --button-bgc-color: #f5f4fa;
  --address-link-color: rgba(255, 255, 255, 0.6);
  --footer-bgc-color: #2f303a;
  --secondary-bcg-color: #f5f4fa;
  --icons-color: #AFB1B8;
  --btn-focus-color: #188CE8;
  --transition-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 91px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--tittle-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--transition-time);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-colour);
}

.site-nav__link.current {
  color: var(--accent-colour);
}
.site-nav__link.current::after {
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  position: absolute;
  background: #2196F3;
  border-radius: 2px;
}

.auth-nav {
  display: flex;
  margin-left: auto;
  gap: 30px;
}

.auth-nav__link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--transition-time);
}
.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--accent-colour);
}

.auth-nav__icons {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  /* background-color: var(--footer-bgc-color); */
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-overlay {
  max-width: 1600px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bgi-hero.jpg);
  background-color: var(--footer-bgc-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-tittle {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .hero-tittle {
    font-size: 26px;
    line-height: 1.62;
  }
}

.logo {
  color: var(--color-logo);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-accent {
  color: var(--accent-colour);
}

.footer .logo {
  color: var(--primary-white-color);
}

.button {
  color: var(--tittle-text-color);
  background-color: var(--button-bgc-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  transition: color var(--transition-time), background-color var(--transition-time), box-shadow var(--transition-time);
}
.button:hover, .button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-colour);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-colour);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  display: inline-block;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__features {
  padding-bottom: 0;
}

.section__tittle,
.portfolio-tittle {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}

.features__icon-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
  background-color: var(--button-bgc-color);
  border-radius: 4px;
}

.features__tittle {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.7;
}

.works-container {
  display: none;
}
@media screen and (min-width: 1200px) {
  .works-container {
    display: block;
  }
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-list__box {
  position: relative;
}

.work-list__overlay {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.work-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  min-height: 70px;
  padding-top: 25px;
  text-transform: uppercase;
}

.section__team-members {
  background: var(--button-bgc-color);
}

.team-list__member {
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--primary-white-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-list__item {
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.team-list__tittle {
  margin-bottom: 10px;
  color: var(--tittle-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-list__text {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 16px;
}

.socnetworks {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socnetworks__item {
  width: 44px;
  height: 44px;
}

.socnetworks__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icons-color);
  transition: fill var(--transition-time), background-color var(--transition-time);
}
.socnetworks__link:hover, .socnetworks__link:focus {
  background-color: var(--accent-colour);
  fill: var(--primary-white-color);
}

.socnetworks__icon {
  color: currentColor;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  color: var(--icons-color);
  transition: color var(--transition-time), border var(--transition-time);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-colour);
  color: var(--accent-colour);
}

.clients__logo {
  fill: currentColor;
}

.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-item {
  width: 100%;
  transition: box-shadow var(--transition-time);
}
.projects-item:hover, .projects-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .projects-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .projects-item {
    width: calc((100% - 60px) / 3);
  }
}

.projects-title {
  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
}

.projects .link {
  text-decoration: none;
}

.project-descr {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.projects-wrapper {
  position: relative;
  overflow: hidden;
}

.projects-example-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  transform: translateY(100%);
  opacity: 0;
  transition: transform var(--transition-time), opacity var(--transition-time);
}
.projects-link:hover .projects-example-text, .projects-link:focus .projects-example-text {
  opacity: 1;
  transform: translateY(0%);
}

.address {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.address__link {
  color: var(--address-link-color);
  text-decoration: none;
  transition: color var(--transition-time);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-colour);
}

.address__list .first-item {
  color: var(--primary-white-color);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bgc-color);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .footer-container {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
  }
}

.footer-concact {
  width: 100%;
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-concact {
    margin-top: 0;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer-wraper {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    text-align: left;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer-wraper {
    display: flex;
    align-items: baseline;
    text-align: left;
  }
}

.footer-socnetworks {
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-socnetworks {
    margin-top: 0;
  }
}

.footer-socnetworks__text,
.footer-text {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-socnetworks__item {
  width: 44px;
  height: 44px;
}

.footer-socnetworks__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-socnetworks__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-white-color);
  outline: transparent;
  transition: fill var(--transition-time), background-color var(--transition-time);
}
.footer-socnetworks__link:hover, .footer-socnetworks__link:focus {
  background-color: var(--accent-colour);
  fill: var(--primary-white-color);
}

.footer-socnetworks__icon {
  color: currentColor;
}

.subscribe__input {
  color: var(--primary-white-color);
  height: 50px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  margin-right: 12px;
  padding-left: 16px;
  transition: border-color var(--transition-time);
}
.subscribe__input:focus, .subscribe__input:hover {
  border-color: var(--accent-colour);
}
@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 395px;
  }
}

.subscribe__wrapper {
  width: 100%;
}

.subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .subscribe {
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: center;
  }
}

.subscribe__link {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  width: 200px;
  height: 50px;
  background-color: var(--accent-colour);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-decoration: none;
  margin-top: 20px;
  transition: background-color var(--transition-time);
}
.subscribe__link:hover, .subscribe__link:focus {
  background-color: var(--btn-focus-color);
}
@media screen and (min-width: 1200px) {
  .subscribe__link {
    margin-top: 0;
    padding: 10px 28px;
  }
}

.subscribe__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  margin-right: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition-time);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  width: 100%;
  max-width: 450%;
  max-height: 609px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow-y: scroll;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-time);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--primary-white-color);
  transition: fill var(--transition-time);
}

.modal-close-button:hover {
  fill: var(--accent-colour);
}

.modal-tittle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  color: var(--tittle-text-color);
}

.modal-field {
  margin-bottom: 10px;
}

.modal-field + .user-feedback {
  margin-bottom: 20px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 42px;
  transition: border-color var(--transition-time);
}

.modal-input:focus {
  border-color: var(--accent-colour);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-colour);
}

.input-wrapper {
  position: relative;
  margin-bottom: 10px;
  margin-top: 4px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: transparent;
}

.modal-textarea:focus {
  border-color: var(--accent-colour);
}

.modal-textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transition-time);
}

.input-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-check {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.checkbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
}

.checkbox-link {
  color: var(--accent-colour);
  margin-left: 4px;
}

.checkbox-text span {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--tittle-text-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  cursor: pointer;
}

.modal-checkbox:checked + .checkbox-text span {
  fill: var(--primary-white-color);
  background-color: var(--accent-colour);
  border: none;
}

.submit-button {
  color: var(--primary-white-color);
  background-color: var(--accent-colour);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: inherit;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: inline-block;
  padding: 10px 52px;
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition-time);
}

.submit-button:hover,
.submit-button:focus {
  background-color: var(--btn-focus-color);
}

.modal-button {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}/*# sourceMappingURL=main.css.map */