.modal-field {
    margin-bottom: 10px;
}

.modal-field+.user-feedback {
    margin-bottom: 20px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    padding-left: 42px;

    transition: border-color var(--transition-time);
}

.modal-input:focus {
    border-color: var(--accent-colour);

}

.modal-input:focus+.modal-icon {
    fill: var(--accent-colour);
}

.input-wrapper {
    position: relative;
    margin-bottom: 10px;
    margin-top: 4px;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    outline: transparent;
}

.modal-textarea:focus {
    border-color: var(--accent-colour);
}

.modal-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.modal-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);

    transition: fill var(--transition-time);
}

.input-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;


    color: #757575;
}

.modal-check {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.checkbox-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
}

.checkbox-link {
    color: var(--accent-colour);
    margin-left: 4px;

}

.checkbox-text span {
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 2px solid var(--tittle-text-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    cursor: pointer;
}

.modal-checkbox:checked+.checkbox-text span {
    fill: var(--primary-white-color);
    background-color: var(--accent-colour);
    border: none;
}


.submit-button {
    color: var(--primary-white-color);
    background-color: var(--accent-colour);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    cursor: pointer;
    font-family: inherit;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 10px 52px;
    border-radius: 4px;
    border: none;
    transition: background-color var(--transition-time);
}

.submit-button:hover,
.submit-button:focus {
    background-color: var(--btn-focus-color);
}

.modal-button {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}