.auth-nav {
    display: flex;
    margin-left: auto;
    gap: 30px;
}


.auth-nav__link {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color var(--transition-time);
    &:hover,  &:focus {
         color: var(--accent-colour);
        }
}



.auth-nav__icons {
    margin-right: 10px;
    fill: currentColor;
}