.menu{
    // display: inline-block;
}
.menu-button{
    position: absolute;
    top: 10px;
    right: 15px;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;

}
.menu-button .icon-cross{
    display: none;
}
.menu-button.is-open .icon-cross {
    display: block;
}
.menu-button.is-open .icon-menu {
    display: none;
}
.menu-container{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 48px 40px;
    background-color: var(--primary-white-color);
}