.menu{
    // display: inline-block;
}
.menu-button{
    // position: absolute;
    // top: 10px;
    // right: 15px;
    // display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;

}
.icon-cross{
    display: none;
}

.icon-menu {
    display: block;
}

.menu-container{
    display: none;
}
.menu-container.is-open{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 48px 40px;
    background-color: var(--primary-white-color);
}

.menu-container.is-open .menu-button.icon-cross {
    display: block;
}

.menu-container.is-open .menu-button.icon-menu {
    display: none;
}