.works-container{
    display: none;
    @media screen and (min-width:1200px) {
        display: block;
    }
}

.work-list {
    display: flex;
    gap: 30px;
}

.work-list__box {
    position: relative;
}

.work-list__overlay {
    position: absolute;
    width: 100%;
    bottom: 0;
}


.work-list__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    color: var(--primary-white-color);
    background-color: rgba(47, 48, 58, 0.8);
    min-height: 70px;
    padding-top: 25px;

    text-transform: uppercase;

}