:root {
    --primary-text-color: #757575;
    --tittle-text-color: #212121;
    --accent-colour: #2196f3;
    --primary-white-color: #ffffff;
    --color-logo: #000000;
    --button-bgc-color: #f5f4fa;
    --address-link-color: rgba(255, 255, 255, 0.6);
    --footer-bgc-color: #2f303a;
    --secondary-bcg-color: #f5f4fa;
    --icons-color: #AFB1B8;
    --btn-focus-color: #188CE8;
    --transition-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


